<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=data.mdb;Persist Security Info=False" />
    <add key="DAL" value="AccessDAL" />
    <add key="ModelCache" value="30" />
    <add key="skin" value="Office 2013 Dark Gray" />
    <add key="lang" value="zh-CN" />
    <add key="CurLoginUserName" value="admin" />
    <add key="CurLoginUserPwd" value="" />
  </appSettings>
</configuration>
